.order-logo {
    display: block;
    width: 160px;
    height: 100px;
}

.order-logo img {
    margin-top: 10px;
    width: 120px;
}

.order-step dl {
    float: left;
    background: #dfdfdf;
    height: 8px;
    width: 120px;
    position: relative;
    top: 30px;
}

.order-step dl.cur dt {
    background: #4FB99F;
    border-color: #4FB99F;
    color: #fff;
}

.order-step dl dt {
    width: 24px;
    height: 24px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -12px;
    margin-top: -12px;
    line-height: 24px;
    text-align: center;
    background: #dfdfdf;
    border: solid 1px #ccc;
    border-top-color: rgb(204, 204, 204);
    border-right-color: rgb(204, 204, 204);
    border-bottom-color: rgb(204, 204, 204);
    border-left-color: rgb(204, 204, 204);
    border-radius: 100%;
    font-size: 14px;
}

.order-step dl.cur dd {
    color: #4FB99F;
    font-weight: bold;
}

.order-step dl dd {
    top: 24px;
    left: 0;
    text-align: center;
    width: 100%;
    position: absolute;
}

.order-step dl.cur {
    background: #4FB99F;
}



.cart-nothing {
    text-align: center;
}

.main-color {
    color: #4FB99F;
}

.cart-tab {
    width: 1200px;
    height: 30px;
    line-height: 30px;
    border-bottom: 2px solid #ccc;
}

.cur {
    display: inline-block;
    color: #4FB99F;
    font-size: 16px;
    border-bottom: 2px solid #4FB99F;
    padding: 0 5px;
}

.red {
    color: red;
    font-size: 16px;
}

.cart-title {
    width: 1200px;
    padding: 5px 0;
    clear: both;
    margin-top: 10px;
    overflow: hidden;
}
.cart-check {
    float: left;
    width: 50px;
    text-align: center;
    padding: 15px 0 0;
}
.cart-item div.cart-product-box:last-child {
    border-bottom: 0;
}
.cart-title .cart-product-box {
    padding: 0;
    border: 0;
        border-bottom-color: currentcolor;
        border-bottom-style: none;
        border-bottom-width: 0px;
}
.cart-item .cart-product-box {
    margin-left: 50px;
    overflow: hidden;
    padding: 15px 0;
    border-bottom: solid 1px #dfdfdf;
}
.cart-item .product {
    width: 550px;
    overflow: hidden;
    float: left;
}
.cart-title .product {
    padding-left: 104px;
    width: 446px;
}

.cart-item .unit-price, .cart-item .discount, .cart-item .count, .cart-item .sum {
    width: 120px;
    float: left;
}
.cart-item .action {
    float: left;
}

.radio-box {
    position: relative;
}
.cart-item .cart-check {
    text-align: center;
}
.cart-item .cart-check input {
    vertical-align: middle;
    margin-right: 3px;
}
.radio-box input {
    outline: none;
    border: none !important;
    display: inline-block;
    width: 16px;
    height: 16px;
    box-shadow: none !important;
    vertical-align: middle;
    width: 13px\9;
    *width: 13px;
    height: 13px\9;
    *height: 13px;
}
.cart-item {
    border: solid 1px #dfdfdf;
    clear: both;
    margin-top: 10px;
    overflow: hidden;
}
.block, a.block {
    display: block;
}
.pro-img-box {
    width: 80px;
    height: 80px;
}
.cart-item .product img {
    display: block;
    width: 78px;
    height: 78px;
    float: left;
    border: solid 1px #eee;
    vertical-align: top;
}
.cart-item .product .product-title {
    margin-left: 102px;
    width: 400px;
}
.cart-item .product .product-title h5 {
    font-weight: normal;
}
h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
}
.jiuji-serviceCur, .jiuji-packaging {
    line-height: 22px;
    color: #999;
}
.margin-top {
    margin-top: 10px;
}
.overflow-hide {
    overflow: hidden;
}
.jiuji-server a {
    float: left;
    margin-right: 15px;
}
.grey-9, a.grey-9 {
    color: #9c9c9c;
}
.jiuji-server .baoxiu {
    background: url(../img/baoxiu.png) no-repeat center;
        background-size: auto;
    background-size: 16px;
    height: 17px;
}
.jiuji-server i {
    width: 16px;
    height: 16px;
    float: left;
    margin-right: 5px;
}
.cart-item .count a {
    display: inline-block;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    border: solid 1px #dfdfdf;
    background: #f5f5f5;
    vertical-align: middle;
    text-decoration: none;
}
.cart-item .count input {
    width: 30px;
    height: 20px;
    border: solid 1px #dfdfdf;
    margin: 0 -1px;
    vertical-align: middle;
    text-align: center;
}
.cart-item .action a {
    display: block;
}
.cart-total {
    height: 50px;
    line-height: 50px;
    overflow: hidden;
    margin: 20px 0;
    background: #f5f5f5;
}
.cart-total input {
    vertical-align: middle;
    margin-right: 3px;
}
.cart-total a {
    margin-left: 20px;
}
.cart-total span {
    margin-right: 20px;
    float: left;
}
.large-font {
    font-size: 16px;
}

.large-font {
    font-size: 16px;
}
.title-font {
    font-size: 18px;
}

.cart-total button {
    border: 0;
    background: #4FB99F;
    color: #fff;
    height: 50px;
    padding: 0 25px;
    font-size: 18px;
    float: right;
    border-radius: 0;
}