.diy-topic {
    margin-top: 20px;
}
/* 产品推荐 */
.diy-topic .diy-list li {
    float: left;
}
.margin-right {
    margin-right: 10px;
}
.overflow-hide {
    overflow: hidden;
}
.diy-topic .diy-list li:last-child {
    margin-right: 0;
}
/* 三两宝马 */
.diy-troika {
    overflow: hidden;
    margin-top: 20px;
}
.diy-troika .troika-list {
    float: left;
    width: 393px;
    background: #fff;
}
.margin-right {
    margin-right: 10px;
}
.diy-troika .troika-body {
    padding: 10px;
    overflow: hidden;
}
.diy-troika .troika-body .right a {

    border-bottom: 1px dashed #d6d6d6;

}
.diy-troika .troika-body a {

    display: block;
    position: relative;
    color: #555;
    width: 186px;
    height: 126px;

}
.anim-left {

    overflow: hidden;
    position: relative;

}
.diy-troika .troika-body a img {

    position: absolute;
    right: 0;
    bottom: 0;

}
.anim-left img {
    -webkit-transition-duration: .3s;
    -o-transition-duration: .3s;
    transition-duration: .3s;
    vertical-align: top;
    
}
.diy-tip {

    position: absolute;
    left: 0;
    top: 0;
    padding: 10px 10px;
    line-height: 18px;
    width: 170px;

}
.diy-tip h3 {

    font-size: 16px;
    padding-bottom: 8px;
    font-weight: normal;

}
.diy-troika .troika-body .left {

    border-right: 1px dashed #d6d6d6;

}
.diy-troika .troika-body .big-img {

    border-bottom: 1px dashed #d6d6d6;
    width: 186px;
    height: 253px;

}
/* 售后服务 */
.diy-shouhou {
    margin-top: 20px;
}
.diy-shouhou a {
    display: block;
}
.diy-shouhou a img {
    vertical-align: top;
    /* position: absolute; */
}
.sh-tip .get-src{
    position: absolute;
}
.diy-shouhou .sh-tip {
    position: absolute;
    right: 0;
    top: 0;
    width: 375px;
    height: 160px;
}
/* 更多好货 */
.goodCommodity ul {
    width: 1215px;
}
.goodCommodity li {
    width: 202px;
    height: 280px;
    padding: 15px;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
    background: #fff;
    line-height: 20px;
}
.anim-top {
    -webkit-transition-duration: .3s;
    -o-transition-duration: .3s;
    transition-duration: .3s;
}
.goodCommodity li a {
    display: block;
    text-decoration: none;
    color: #555;
}
.goodCommodity li span {
    display: block;
}
.goodCommodity li img {
    vertical-align: top;
    width: 100%;
}
.font14 {
    font-size: 14px;
}
.row2 {
    word-break: break-all;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    word-break: break-all;
    overflow: hidden;
}
.margin-top {
    margin-top: 10px;
}
.goodCommodity li p {
    font-size: 14px;
    line-height: 30px;
}
.red, a.red {
    color: #e73828;
}
.goodCommodity li:hover {
    box-shadow: 0 0 20px #ccc;
}
.anim-top:hover {
    -webkit-transform: translateY(-3px);
    -o-transform: translateY(-3px);
    transform: translateY(-3px);
}
.loadmore {
    text-align: center;
    padding-top: 10px;
}
.button::after, a.button::after {
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    border-radius: 100%;
    background: rgba(255,255,255,.4);
}
.loadmore a {
    width: 200px;
    height: 40px;
    line-height: 40px;
    background: #fff;
    border: none;
    font-size: 14px;
    border: 1px solid #dfdfdf;
    color: #999;
}
.button, a.button {
    text-decoration: none;
    background-color: #f3f3f3;
    border: solid 1px #bbb;
    border-radius: 3px;
    font-family: 'Microsoft YaHei UI', SimHei;
    cursor: pointer;
    outline: 0;
    color: #333;
    transition: all ease-in-out .3s;
    position: relative;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
}

.button:hover::after, a.button:hover::after {
    width: 5px;
    height: 5px;
    -webkit-animation: buttonHoverAni 2.5s linear .1s;
    animation: buttonHoverAni 2.5s linear .1s;
}
.loadmore a:hover {
    background: #e73828;
    color: #fff;
    border: 1px solid #e73828;
}

/* 电梯 */
.diy-elevator {
    position: fixed;
    top: 50px;
    margin-left: -50px;
    display: none;
    z-index: 9;
}
.diy-elevator a {
    width: 28px;
    height: 28px;
    padding: 4px;
    text-decoration: none;
    line-height: 14px;
    display: block;
    text-align: center;
    background: #bbb;
    color: #fff;
    margin-bottom: 1px;
    cursor: pointer;
    overflow: hidden;
}
.diy-elevator a:hover, .diy-elevator a.active {
    background: #333;
}
.diy-elevator a:last-child {
    background: #4FB99F;
}