body,
html {
    width: 100%;
    height: 100%;
}

/* 头部部分 */
.top {
    height: 30px;
    background: #e3e4e5;
    border-bottom: solid 1px #e3e4e5;
    position: relative;
    z-index: 97;
}

.wrapper {
    width: 1200px;
    margin: 0 auto;
}

.top-weizhi {
    line-height: 30px;
    color: #6b6b6b;
    overflow: hidden;
    display: block !important;
}

.top-login {
    line-height: 30px;
    color: #6b6b6b;
    /* text-shadow: 0 1px 0 #fff; */
    overflow: hidden;
    margin-left: 15px;
}

.left {
    float: left;
}

.top-menu {
    height: 30px;
    overflow: hidden;
}

.right {
    float: right;
}

/* 头部两个隐藏盒子 */
.top-user-show {
    position: absolute;
    background: #fff;
    top: 30px;
    width: 90px;
    padding: 0 10px;
    /* border: solid 1px #ddd; */
    display: none;
    z-index: 96;
}

.top-user-show a {
    display: block;
    height: 31px;
    line-height: 31px;
    color: #6b6b6b;
}

.top-user:hover,
.top-sitemap:hover {
    color: #196;
    /* background: #fff; */
}
.top-user:hover i,.top-sitemap:hover i{
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg)

}
.top-sitemap-show a:hover {
    color: #196;

}

.top-user-show a:hover {
    color: #196;

}

.top-sitemap-show {
    position: absolute;
    background: #fff;
    top: 30px;
    width: 1198px;
    border: solid 1px #ddd;
    display: none;
    z-index: 96;
}

.top-sitemap-show ul {
    overflow: hidden;
    height: 200px;
}

.top-sitemap-show ul li {
    padding: 20px 0;
    height: 200px;
    width: 20%;
    float: left;
    overflow: hidden;
}

.top-sitemap-show ul li h3 {
    font-weight: normal;
    margin: 0 20px 10px;
    font-size: 16px;
}

.orange,
a.orange {
    color: #f70;
}

.purple,
a.purple {
    color: #a776d9;
}

.light-blue,
a.light-blue {
    color: #7597dc;
}

.light-red,
a.light-red {
    color: #ff5050;
}

.top-sitemap-show ul li .fnav-list {
    padding: 0 20px;
}

.top-sitemap-show ul li a {
    float: left;
    height: 32px;
    line-height: 32px;
    color: #6b6b6b;
    width: 99px;
    position: relative;
}

.top-sitemap-show ul li a i.hot-icon {
    background-position: left top;
}

.top-sitemap-show ul li a i {
    display: inline-block;
    position: absolute;
    /* background: url(/iconfont/jiaobiao.png) no-repeat; */
    width: 11px;
    height: 11px;
    line-height: 16px;
    text-align: center;
    font-size: 10px;
    margin-left: 1px;
}

.top-weizhi i {
    width: 14px;
    height: 30px;
    background: url(../iconfont/weizhi.png) no-repeat center;
    float: left;
    margin-right: 6px;
}

.top-login a {
    margin-left: 5px;
    color: #6b6b6b;
    position: relative;
}
.sub_nav:hover > div {
    display: block;
}
.sub_nav > div a:hover {
    background: #4FB99F;
    color: #fff;
}
.nav a:hover {
    color: #4FB99F;
}
a:hover {
    text-decoration: none;
    color: #4FB99F;
}

.top-menu a {
    float: left;
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
    color: #6b6b6b;
    /* text-shadow: 0 1px 0 #fff; */
    /* _display: inline; */
    display: inline-block;
    position: relative;
    border-left: solid 1px transparent;
    border-right: solid 1px transparent;
}

.top-menu a i.vip {
    background-position: -54px -18px;
    width: 18px;
    height: 18px;
    vertical-align: middle;
    position: relative;
    bottom: 2px;
}

.top-menu a .icon {
    display: inline-block;
    width: 18px;
    height: 18px;
    vertical-align: text-top;
    margin-right: 3px;
    _display: inline;
}

.icon {
    background: url(../iconfont/icon.png?t=11) no-repeat;
}

.triangle-down {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 7px solid #bbb;
    display: inline-block;
    vertical-align: middle;
    margin: 0 3px;
}

.top-menu a.top-telephone {
    font-size: 14px;
    color: #4FB99F;
}

.top-menu a.top-telephone i {
    background-position: -72px -18px;
}

.top-menu a.top-user i,
.top-menu a.top-sitemap i {
    /* -webkit-transition: -webkit-transform .3s; */
    transition: transform .3s;
}

.city-wrap {
    position: absolute;
    left: 74.5px;
    top: 30px;
    width: 500px;
    height: 290px;
    display: none;
    z-index: 99;
    background: #fff;
    border: solid 1px #dfdfdf;
    background: #fff;
}

.city-wrap .city-hot {
    padding: 0 10px;
    margin-top: 15px;
}

.city-wrap .city-hot a {
    margin-right: 10px;
}

.city-wrap .city-tab {
    margin: 10px;
    border-bottom: solid 2px #4FB99F;
    height: 30px;
    line-height: 30px;
}

.city-wrap .city-tab a {
    display: inline-block;
    padding: 0 20px;
    height: 28px;
    border: solid 1px #dfdfdf;
    border-bottom: 0;
    margin-right: 5px;
    font-size: 12px;
    font-family: 'Microsoft YaHei';
    text-decoration: none;
}





/* 头部部分 */
.header {
    height: 145px;
    background: none;
}

.logo-box {
    width: 220px;
    height: 145px;
}

.logo-box {
    width: 320px;
    height: 100px;
}

.relative {
    position: relative;
}

.logo {
    width: 220px;
    height: 100px;
}

.logo a {
    display: block;
    line-height: 145px;
    height: 145px;
    text-align: center;
    margin: 0;
    width: 100%;
}

.top-ad,
.nav-menu-cursor,
.head-city {
    /* display: none !important; */
}

.head-city {
    border-left: solid 1px #dfdfdf;
    height: 45px;
    margin-top: 28px;
    padding-left: 30px;
    width: 125px;
    display: none;
}

/* 搜索 */
.search {
    margin-left: 115px;
}

.search {
    margin-top: 25px;
    height: 72px;
    width: 540px;
    margin-left: 40px;
    position: relative;
}

button,
input,
select,
textarea {
    font-size: 100%;
}

.search-box {
    border: 2px solid #4FB99F;
    float: left;
    height: 34px;
    line-height: 31px\9;
    width: 450px;
    outline: 0;
    padding: 0 5px;
}

.search-btn {
    background-color: #4FB99F;
    border: 0;
    color: #fff;
    float: left;
    font-size: 16px;
    width: 70px;
    height: 38px;
    cursor: pointer;
}

.search-history {
    font-size: 12px;
    padding: 0 10px;
    position: absolute;
    top: 38px;
    left: 1px;
    background: #fff;
    width: 440px;
    border: solid 1px #dfdfdf;
    box-shadow: 1px 1px 3px #666;
    display: none;
    z-index: 95;
}

.search-history dt {
    width: 70px;
    float: left;
    line-height: 36px;
    color: #9c9c9c;
}

.search-history dd a {
    display: block;
    height: 36px;
    line-height: 36px;
    color: #6b6b6b;
    border-bottom: solid 1px #dfdfdf;
    overflow: hidden;
}

.search-guess {
    position: absolute;
    top: 38px;
    left: 1px;
    width: 460px;
    background: #fff;
    display: none;
    box-shadow: 1px 1px 3px #666;
    z-index: 95;
}

.search p {
    height: 25px;
    line-height: 25px;
    color: #999;
    *white-space: nowrap;
    overflow: hidden;
    width: 540px;
}

.search p a {
    color: #999;
    margin-right: 14px;
    display: inline-block;
}

/* 购物车 */
.header-qrcode {
    width: 220px;
    height: 145px;
    text-align: right;
}

.header-cart {
    width: 160px;
    margin-top: 25px;
    float: right;
    position: relative;
}

.header-cart a {
    background: #fff;
    border: solid 1px #dfdfdf;
    text-align: center;
    height: 38px;
    line-height: 38px;
    display: block;
    text-decoration: none;
    position: relative;
    z-index: 95;
}

.header-cart a span {
    display: none;
    padding: 0 3px;
    background: #4FB99F;
    color: #fff;
    height: 14px;
    line-height: 14px;
    border-radius: 14px;
}

.header-cart-box {
    width: 300px;
    height: 500px;
    background: #fff;
    position: absolute;
    top: 39px;
    right: 0;
    z-index: 94;
    border: solid 1px #dfdfdf;
    display: none;
}







/* 导航和轮播图部分 */
.navigation {
    border-bottom: none;
    background: none;
    margin-top: -45px;
    height: 45px;
}

.navshang {
    margin-left: 230px;
    margin-top: -45px;
    width: 980px;
    height: 45px;
    line-height: 45px;
}

.navshang a {
    font-family: 'Microsoft YaHei';
    font-size: 16px;
    padding: 0 16px;
    color: #333;
    transition: color 500ms;
    *padding: 0 19px;
    position: relative;
    display: block;
    float: left;
    text-decoration: none;
}

.sub_nav {
    position: relative;
    z-index: 9;
}

.sub_nav>div {
    display: none;
    background: #fff;
    position: absolute;
    top: 40px;
    left: 0;
    width: 110px;
    box-shadow: 0 0 3px #666;
}

.sub_nav>div a {
    display: block;
    float: none;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    padding: 0 15px;
    transition: none;
}

.nav {
    overflow: visible;
    width: 220px;
    height: 480px;
    background: rgba(51,51,51,.6);
    position: absolute;
    top: 47px;
    left: 0;
    z-index: 91;
    /* display: none; */
}

.nav li {
    width: 220;
    height: 80px;
    padding: 8px;
    box-sizing: border-box;
    /* background: #ccc; */
    /* margin-bottom: 10px; */
    /* background: #333 */
}

.nav-li span {
    display: block;
    height: 44px;
    line-height: 22px;
    overflow: hidden;
    padding-left: 24px;
}

.nav li b {
    display: block;
    height: 20px;
    line-height: 20px;
    overflow: hidden;
}

.nav-li b i {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 8px;
    vertical-align: text-top;
    vertical-align: middle\9;
}

.nav-li b i.m2 {
    background-position: -32px -36px;
}

.nav-li b i.m9 {
    background-position: -154px -18px;
}

.nav-li b i.m4 {
    background-position: -98px -36px;
}

.nav-li b i.m1 {
    background-position: -65px -36px;
}

.nav-li b i.m3 {
    background-position: -65px -36px;
}

.nav-li b i.m7 {
    background-position: -114px -21px;
}

.nav .current {
    background: rgba(51, 51, 51.5);
}

.nav-li b s {
    text-decoration: none;
    font-family: SimSun;
    float: right;
    color: #fff;
    font-size: 12px;
    font-weight: bolder;
    *display: none;
    transition: all .5s;
}

.nav-li b a {
    color: #fff;
    margin-right: 10px;
    font-size: 13px;
    font-weight: normal;
}

.nav-li>span a {
    margin-right: 8px;
    white-space: nowrap;
    display: inline-block;
    color: #fff;
    opacity: .8;
}

.list {
    min-height: 468px;
    width: 760px;
    position: absolute;
    left: 220px;
    top: 0px;
    display: none;
    border: 1px solid #111;
    box-sizing: border-box;
    background: #fff;
    z-index: 9;
    border: 1px solid #dfdfdf;
    border-left-color: rgb(223, 223, 223);
    border-left-style: solid;
    border-left-width: 1px;
    border-left: none;
}
.list a:hover{
    color: #196;
}
.nav .listCurrent {
    display: block;
}

.list .left {
    width: 510px;
    margin: 10px;
}

.list .left div {
    border-bottom: solid 1px #eee;
    clear: both;
    padding-left: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    overflow: hidden;
}

.list .left div h4 {
    float: left;
    width: 70px;
    line-height: 25px;
    color: #4FB99F;
}

.list .left div p {
    margin-left: 70px;
    line-height: 25px;
}

.list .left p a {
    margin-right: 7px;
    display: inline-block;
    white-space: nowrap;
}

.list a {
    color: #333;
    text-decoration: none;
    margin-right: 7px;
    display: inline-block;
    /* border-right: 1px solid #222; */
}

.list p a::after {
    content: '|';
    margin-left: 7px;
    color: #cfcfcf;
    text-decoration: none !important;
}

.list .right {
    width: 200px;
    height: 459px;
    padding: 10px;
    position: relative;
}

.menu_ad {
    width: 200px;
    height: 460px;
}